.pagination.pagination-sm.m-0.float-end {
	gap: 10px;
}
a {
	text-decoration: none !important;
}
div.dt-container div.dt-paging ul.pagination {

	display: flex !important;
	gap: 10px !important;
}
.card {
	padding: 0 !important;
}